html, body, h1, h2, h3, h4, h5, h6, p, div, button, input, ul, ol, li, section, aside {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

input, button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

.website-2 p {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #282828;
}



.header-title-h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.header-title-h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #282828;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

a {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #282828;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}